services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    ports:
      - "23306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sql-cook-book
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: "Asia/Tokyo"
    volumes:
      - ./docker/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/data:/var/lib/mysql
      - ./docker/sql:/docker-entrypoint-initdb.d
